<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187342504924-53ji3jsj1gvug39tpm12esk9i5of8r17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187342504924-53ji3jsj1gvug39tpm12esk9i5of8r17</string>
	<key>API_KEY</key>
	<string>AIzaSyAQhQKHj1d7hliW8XnjengO113Ojk10heA</string>
	<key>GCM_SENDER_ID</key>
	<string>187342504924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alex.app.GetThisVideo</string>
	<key>PROJECT_ID</key>
	<string>gethisvideo</string>
	<key>STORAGE_BUCKET</key>
	<string>gethisvideo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187342504924:ios:bcf52352b44fe3d4858519</string>
</dict>
</plist>